

.stream-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.twitch-youtube {
  font-style: italic;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/twitch_bg.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
}
.stream-photos {
  height: fit-content
}
.photo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photo-image {
  display: flex;
  flex-wrap: wrap;
}
.titles {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: .5rem;
}
.title-image {
  height: 45vmin;
  width: 80vmin;
  justify-content: center;
  align-self: center;
}
.streamer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}
@media only screen and (max-width: 720px) { 
  .photo-image-web {
    display: none;
  }
  p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 721px) {
  .twitch-youtube {
    font-size: 30px;
  } 
  .titles {
    padding: 15px;
  }
  .title-image {
    height: 45vmin;
    width: 84vmin;
  }
}
