.stream-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twitch-youtube {
  font-style: italic;
}
.stream-photos {
  height: 100px;
}
.photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10%;
}
.title-image {
  height: 45vmin;
  width: 80vmin;
}
@media only screen and (max-width: 720px) { 
  .photo-image-web {
    display: none;
  }
}
@media only screen and (min-width: 721px) {
  .twitch-youtube {
    font-size: 30px;
  } 
}
