.stream-section {
  width: 100%;
  height: 500px;
}
.twitch-youtube {
  font-style: italic;
}
.stream-photos {
  height: 100px;
}
.photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.photo-image {
  height: 80px;
  width: 100px;
  padding: 20px;
}
.title-image {
  height: 45vmin;
  width: 80vmin;
}
@media only screen and (max-width: 720px) { 
  .photo-image-web {
    display: none;
  }
}
@media only screen and (min-width: 721px) {
  .twitch-youtube {
    font-size: 30px;
  } 
  .photo-image {
    height: 120px;
    width: 150px;
    padding: 12px;
  }
  .photo-image-web {
    height: 120px;
    width: 150px;
    padding-left: 12px;
  }
}
