.app-header {
    background-color: #282c34;
    min-height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.logo {
  align-items: left;
  justify-content: left;
  margin: 5px;
  }

.header-links {
    display: inline-block;
}

.web-nav-links {
  text-decoration: none;
}

a:link {
  color: #fff;
  text-decoration: none;
  }
a:visited {
  color: #fff;
  text-decoration: none;
  }
a:hover {
  color: #8d9bb8;
  text-decoration: none;
  }
a:active {
  color: rgb(0,0,0);
  text-decoration: none;
  }


@media only screen and (max-width: 720px) { 

  .body {
    background-color: #8d9bb8;
  }

  .app-header {
    background-color: #8d9bb8;
  }
  .web-nav-links {
  display: none;
}
}