.app-header {
    background-color: #282c34;
    min-height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
  }
.logo {
  align-items: left;
  justify-content: center;
  margin: 5px;
  }
.App-Logo-Text{
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}
.header-links {
    display: inline-block;
}

@media only screen and (max-width: 720px) { 
  .web-nav-links {
    display: none;
  }
}

@media only screen and (min-width: 721px) {
  .App-Logo-Text{
    font-size: 23px;
    font-weight: bold;
    padding: 5px, 5px, 5px, 5px;
  }
}