.app-header {
    min-height: 15px;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: calc(6px + 1vmin);
    background-color: #212227;
    color: #B1B1B1;
  }
.Logo {
  align-items: left;
  justify-content: left;
  width: 30%;
  padding-top: 12px;
  padding-bottom: 7px;
  margin-left: 10px;
  }
.LogoIcon {
  height: 28px;
  width: 100px;
}
.header-links {
    justify-content: center;
    width: 70%;    
    align-items: flex-end;
}
.mobile-menu {
  position: absolute;
  right: 8px;
  padding: 3px;
}
.mobile-nav-links {
  align-items: flex-end;
  font-size: 20px;
  font-weight: bold;
  padding-left: 100px;
}

@media only screen and (max-width: 720px) { 
  .web-nav-links {
    display: none;
  }
}

@media only screen and (min-width: 721px) {
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  .LogoIcon {
    height: 40px;
    width: 180px;
    margin-bottom: 45px;
  }
  .Logo {
    width: 17%;
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .header-links {
    display: inline-block;
    width: 87%;
  }
  .web-links {
    font-size: 30px;
    padding: 5px;
    margin-bottom: 4px;
  }
  .mobile-menu {
    display: none;
  }
  .footerNav {
    padding-right: 5px;
  }
  .web-nav-links {
    font-size: 30px;
    padding: 5px;
    margin:2px;
  }
}
