.App-Footer {
  display: flex;
  background-color: var(--body_background);
  color: var(--body_color);
  width: 100%;
  flex-direction: column;
}

.col1 {
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.LogoIcon {  
    height: 40px;
    width: 100px;
}
.bottom-links {
  flex-direction: row;
  margin: 10px;
  color: #B1B1B1;
  width: 100%;
}
.footerNav {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 18px;
}
.copywrite {
  width: 100%;
  flex-direction: row;
}
.social-links{
  width: 50%;
  position: relative;
  align-items: right;
}
.social-media {
  width: 36px;
  height: 36px;
  padding: 8px;
}

@media only screen and (min-width: 721px) {
.social-media {
  display: flex;
  flex-direction: row;
  width: 35px;
  height: 35px;
  padding-bottom: 5px;
}
.LogoIcon {
  height: 60px;
  width: 90px;
}
.footerNav {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}
.copywrite {
  width: 30%;
  height: 65px;
  padding-bottom: 5px;
  font-size: 20px;
}
.social-links {
  display: flex;
  width: 40%;
  flex-direction: row;
  right: 5px;
  bottom: 2px;
  flex-flow: row-reverse;
  padding-right: 15px;
  padding-bottom: 10px;
}
}
