body {
  height: 100%;
}
.App {
  text-align: center;
  width: 100vw;
  background-color: red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-Logo-Text {
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
}
.App-link {
  color: #61dafb;
}
.Nav-Routes {
  flex-direction: row-reverse;
  font-weight: bold;
  margin: 1px;
}
.App-Body {
  width: 100%;
  height: 1350px;
  font-size: 16px;
}
.hero-section {
  flex-direction: row;
  display: flex;
}
.left-hero {
  width: 50%;
  font-size: 20px;
}
.right-hero {
  width: 50%;
  padding: 20px;
}
.App-Footer {
  background-color: #212227;
  min-height: 50px;
  width: 100vw;
  position: relative;
  bottom: 0;
}
.bottom-links {
  flex-direction: row;
  margin: 10px;
  color: #B1B1B1;
}