body {
  height: 500px;

}
.App {
  text-align: center;
  width: 100vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-Logo-Text {
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
}
.App-link {
  color: #61dafb;
}
.Nav-Routes {
  flex-direction: row-reverse;
  font-weight: bold;
  margin: 15px;
}
.App-Body {
  background-color: rgb(100,200,100);
  width: 400rem;
  height: 100%;
}
.hero-section {
  flex-direction: row;
  display: flex;
}
.left-hero {
  width: 50%;
}
.right-hero {
  width: 50%;
}
.App-Footer {
  background-color: #282c34;
  min-height: 50px;
  width: 100vw;
}
.bottom-links {
  flex-direction: row;
  margin: 10px;
  color: #fff;
}