:root {
  --body_background: #eef0f2;
  --body_color: rgb(16, 16, 16);
  --nav_background: #ededed;
  --footer_background: #ededed;
  --nav_links: rgb(9, 9, 9);
  color: var(--body_color);
  background-color: var(--body_background);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:visited {
  color: 'white';
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style: none;
  display: flex;
} 
[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: rgb(239, 239, 239);
  --nav_background: #181b20;
  --footer_background: #181b20;
  --nav_links: rgb(240, 240, 240);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body_color);
  background-color: var(--body_background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
