.social-links {
  display: flex;
  flex-direction: row;
  right: 5px;
  bottom: 2px;
  flex-flow: row-reverse;
  padding-right: 15px;

}
.social-media {
  width: 36px;
  height: 36px;
  padding: 8px;
}
@media only screen and (min-width: 721px) {
.social-media {
  display: flex;
  flex-direction: row;
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
    }
.social-links {
    margin-bottom: 5px;
}
}